<?xml version="1.0" encoding="utf-8"?>
<robot name="gripper" xmlns:xacro="http://ros.org/wiki/xacro">
    <gazebo>
        <plugin name="mimic_plugin_r_out_link" filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so">
            <joint>r_joint</joint>
            <mimicJoint>r_out_joint</mimicJoint>
        </plugin>

        <plugin name="mimic_plugin_r_in_link" filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so">
            <joint>r_joint</joint>
            <mimicJoint>r_in_joint</mimicJoint>
            <multiplier>-1</multiplier>
            <offset>0.0</offset>
        </plugin>

        <plugin name="mimic_plugin_l_out_link" filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so">
            <joint>r_joint</joint>
            <mimicJoint>l_out_joint</mimicJoint>
            <multiplier>1</multiplier>
            <offset>0.0</offset>
        </plugin>

        <plugin name="mimic_plugin_l_in_link" filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so">
            <joint>r_joint</joint>
            <mimicJoint>l_in_joint</mimicJoint>
            <multiplier>-1</multiplier>
            <offset>0.0</offset>
        </plugin>

        <plugin name="mimic_plugin_l_link" filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so">
            <joint>r_joint</joint>
            <mimicJoint>l_joint</mimicJoint>
            <multiplier>-1</multiplier>
            <offset>0.0</offset>
        </plugin>

        <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
            <arm>
                <arm_name>jetauto_arm</arm_name>
                <palm_link> link4  </palm_link>
                <gripper_link> l_out_link </gripper_link>
                <gripper_link> r_out_link </gripper_link>
            </arm>
            <forces_angle_tolerance>100</forces_angle_tolerance>
            <update_rate>10</update_rate>
            <grip_count_threshold>4</grip_count_threshold>
            <max_grip_count>8</max_grip_count>
            <release_tolerance>0.005</release_tolerance>
            <disable_collisions_on_attach>false</disable_collisions_on_attach>
            <contact_topic>__default_topic__</contact_topic>
        </plugin>
    </gazebo>

    <xacro:macro name="model_color" params="link_name color_name">
        <gazebo reference="${link_name}">
            <material>Gazebo/${color_name}</material>
            <turnGravityOff>false</turnGravityOff>
        </gazebo>
    </xacro:macro>

    <xacro:model_color link_name="r_link"       color_name="black"/>
    <xacro:model_color link_name="r_in_link"    color_name="black"/>
    <xacro:model_color link_name="r_out_link"   color_name="black"/>
    <xacro:model_color link_name="l_link"       color_name="black"/>
    <xacro:model_color link_name="l_in_link"    color_name="black"/>
    <xacro:model_color link_name="l_out_link"   color_name="black"/>

    <xacro:macro name="model_friction" params="link_name fric_coeff">
        <gazebo reference="${link_name}">
            <mu1>${fric_coeff}</mu1>
            <mu2>${fric_coeff}</mu2>
        </gazebo>
    </xacro:macro>

    <xacro:model_friction link_name="l_out_link"   fric_coeff="100"/>
    <xacro:model_friction link_name="r_out_link"   fric_coeff="100"/>

</robot>
