<?xml version="1.0"?>
<launch>
    <!--机器命名空间(robot name space)-->
    <arg name="master_name"  default="$(env MASTER)"/>
    <arg name="machine_type" default="$(env MACHINE_TYPE)"/>

    <!--是否使用仿真(whether to use simulation)-->
    <arg name="sim"                 default="false"/>

    <arg name="use_joy"             default="false"/>

    <arg name="usb_cam_name"        default="usb_cam"/>
    <arg name="set_pose"            default="true"/>

    <!--是否使用深度相机模拟雷达(whether to use depth camera to simulate Lidar)-->
    <arg name="use_depth_camera"    default="false" />

    <!--手柄控制速度限制(speed limit of handle control)-->
    <arg     if="$(arg sim)" name="max_linear"  default="0.7"/>
    <arg unless="$(arg sim)" name="max_linear"  default="0.2"/>
    <arg     if="$(arg sim)" name="max_angular" default="3.5"/>
    <arg unless="$(arg sim)" name="max_angular" default="0.5"/>


    <arg name="cmd_vel_topic"       default="jetauto_controller/cmd_vel"/>
    <arg name="scan_raw"            default="scan_raw"/>
    <arg name="depth_camera_name"   default="camera"/>
    <arg name="depth_camera_frame"  default="$(arg depth_camera_name)_frame"/>
    <arg name="scan_topic"          default="scan"/>
    <arg name="odom_raw_topic"      default="odom_raw"/>
    <arg name="odom_lidar_topic"    default="odom_lidar"/>
    <arg name="odom_topic"          default="odom"/>
    <arg name="imu_raw_topic"       default="imu_raw"/>
    <arg name="imu_topic"           default="imu"/>


    <arg name="odom_frame"          default="odom"/>
    <arg name="base_frame"          default="base_footprint"/>
    <arg name="lidar_frame"         default="lidar_frame"/>
    <arg name="imu_link"            default="imu_link"/>

    <!--机器人urdf模型加载(robot urdf model loading)-->
    <param name="robot_description" command="$(find xacro)/xacro '$(find jetauto_description)/urdf/jetauto.urdf.xacro' odom_frame:=$(arg odom_frame) base_frame:=$(arg base_frame) depth_camera_name:=$(arg depth_camera_name) lidar_view:=false" />

    <!--静态tf发布(static tf publishment)-->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    </node>

    <!--是否使用仿真(whether to use simulation)-->
    <group unless="$(arg sim)">
        <!--舵机控制(servo control)-->
        <include file="$(find hiwonder_servo_controllers)/launch/start.launch">
            <arg name="base_frame"   value="$(arg base_frame)" />
        </include>

        <!--深度相机开启(start depth camera)-->
        <include file="$(find jetauto_peripherals)/launch/astrapro.launch">
            <arg name="depth_camera_name"   value="$(arg depth_camera_name)" />
        </include>

        <!--usb摄像头，只有设备为JetAutoPro时才开启-->
        <include if="$(eval machine_type == 'JetAutoPro')" file="$(find jetauto_peripherals)/launch/usb_cam.launch">
            <arg name="usb_cam_name" value="$(arg usb_cam_name)"/>
        </include>

        <!--雷达开启(start Lidar)-->
        <include unless="$(arg use_depth_camera)" file="$(find jetauto_peripherals)/launch/lidar.launch">
            <arg name="scan_topic"  value="$(arg scan_raw)" />
            <arg name="lidar_frame" value="$(arg lidar_frame)" />
        </include>

        <!--底盘驱动(chassis driver)-->
        <include file="$(find jetauto_controller)/launch/jetauto_controller.launch" />

        <!--odom发布(odom publishment)-->
        <include file="$(find jetauto_controller)/launch/odom_publish.launch" >
            <arg name="odom_topic"      value="$(arg odom_topic)" />
            <arg name="odom_raw_topic"  value="$(arg odom_raw_topic)" />
            <arg name="base_frame"      value="$(arg base_frame)" />
            <arg name="odom_frame"      value="$(arg odom_frame)" />
            <arg name="map_frame"       value="$(arg map_frame)"/>
            <arg name="cmd_vel"         value="$(arg cmd_vel_topic)" />
            <arg name="imu_raw_topic"   value="$(arg imu_raw_topic)" />
            <arg name="imu_topic"       value="$(arg imu_topic)" />
            <arg name="imu_link"        value="$(arg imu_link)" />
        </include>
    </group>

    <group if="$(arg use_depth_camera)">
        <!--深度相机模拟雷达-->
        <include file="$(find jetauto_slam)/launch/include/depthimage_to_laserscan.launch">
            <arg name="depth_topic"         value="$(arg depth_camera_name)/depth/image_raw" />
            <arg name="camera_info_topic"   value="$(arg depth_camera_name)/depth/camera_info" />
            <arg name="output_frame_id"     value="$(arg depth_camera_name)_link" />
        </include>
    </group>

    <group unless="$(arg use_depth_camera)">
        <!--雷达过滤(Lidar filter)-->
        <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
                            <rosparam ns="scan_filter_chain" subst_value="true">
                              - name: box_filter
                                type: laser_filters/LaserScanBoxFilter
                                params:
                                        box_frame: $(arg base_frame)
                                        min_x: -0.2
                                        max_x: 0.2
                                        min_y: -0.15
                                        max_y: 0.15
                                        min_z: -0.2
                                        max_z: 0.2
                            </rosparam>
            <remap from="scan" to="$(arg scan_raw)" />
            <remap from="scan_filtered" to="$(arg scan_topic)" />
        </node>
    </group>

    <!--手柄控制(handle control)-->
    <include if="$(arg use_joy)" file="$(find jetauto_peripherals)/launch/joystick_control.launch" >
        <arg name="max_linear"  value="$(arg max_linear)"/>
        <arg name="max_angular" value="$(arg max_angular)"/>
        <arg name="cmd_vel"     value="$(arg cmd_vel_topic)"/>
    </include>

    <!--键盘控制(teleop control)-->
    <include file="$(find jetauto_peripherals)/launch/teleop_key_control.launch"/>

    <!--机械臂姿态-->
    <node if="$(arg set_pose)" name="init_pose" pkg="jetauto_slam" type="init_pose.py" output="screen"/>
</launch>
