<?xml version="1.0"?>
<launch>
    <!--建图方法选择-->
    <arg name="slam_methods" default="gmapping" doc="slam type 
        [gmapping, cartographer, hector, karto, frontier, explore, rrt_exploration, rtabmap]"/>

    <arg name="gmapping"        default="gmapping"/>
    <arg name="cartographer"    default="cartographer"/>
    <arg name="hector"          default="hector"/>
    <arg name="karto"           default="karto"/>
    <arg name="frontier"        default="frontier"/>
    <arg name="explore"         default="explore"/>
    <arg name="rrt_exploration" default="rrt_exploration"/>
    <arg name="rtabmap"         default="rtabmap"/>

    <arg name="sim"             default="true"/>

    <include file="$(find course_config)/launch/include/slam_base.launch">
        <arg name="sim"             value="$(arg sim)"/>
    <arg name="slam_methods"    value="$(arg slam_methods)"/>
    
    </include><include file="$(find course_config)/launch/include/jetauto_robot.launch">
        <arg name="sim"             value="$(arg sim)"/>
    </include>

</launch>
